{% extends 'parent.html.twig' %}

{% block content %}
    <div class="row">
        {% for artwork in artworks %}
            <div class="col-sm-3">
                <img src="{{ asset('img/artwork/' ~ artwork.image) }}" alt="" class="img-fluid">
                <p>{{ artwork.name }}</p>
                <a href="{{ url('artwork.details', {'slug': artwork.slug}) }}" class="btn btn-primary">Consulter</a>
            </div>

        {% endfor %}
    </div>

{% endblock %}

{% block title %}
    {{ parent() }} | Mise ne page
{% endblock %}